<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <title>Parcialito</title>
</head>
<body>
        <button id="cargar">Refresh</button>

    <div id='container'>       
        <table id="tabla">
        </tbody>
    </div>

    <div class="loader" id="loader"></div>

    <div id="edit-menu" >
        <form id="menu" hidden>
            <label for="name" ></label>
            <input type="text" name="id" id="id" hidden>
            <label for="name">Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <label for="name">Apellido</label>
            <input type="text" name="apellido" id="apellido" >
            <label for="name">Fecha</label>
            <input type="text" name="fecha" id="fecha">
            <label for="name">Sexo</label>
            <input type="text" name="sexo" id="sexo">

            <button id="modificar">Modificar</button>
            <button id="eliminar">Eliminar</button>
        </form>
    </div>
     
</body>
<script src="./js/archivos.js"></script>
</html>